
p {

	font-size: 64px;
    text-shadow: 4px 2px orange;
    max-width: 500px;
    display: block;


}

img {

	border-color: green;
	border-style: dashed;
	border-width: 10px;
	float: left;
	display: block;
	position: relative;
	bottom: 100px;
	left: 100px;

}