
p {

	font-size: 64px;
    text-align: right;
    text-shadow: 4px 2px orange;
    max-width: 500px;

}

img {

	border-color: green;
	border-style: dashed;
	border-width: 10px;
	float: left;
	display: block;

}